.modal-90w {
    width: 90%!important;
    max-width: none!important;
    
}
.modalBg {
    background-color: #1e3a56;
}

.buttonCloseModal{
    position: absolute;
    right: -20px; top: -20px; 
    border-radius: 50%!important;
}

.imgPoster{
    width: 90%;
    object-fit: cover;
}

.badgeSize{
    padding: 0.7rem!important;
    font-size: 0.8rem!important
}
.cardTitle {
    height: 3rem;
    overflow: hidden;
    color: black;
}

.cardText {
    height: 6rem;
    overflow: hidden;
    color: black;
}
/* kiem tra ton tai o cho khac ko */
h2 span { 
    font-weight: normal;
    font-size: 0.7rem;
    vertical-align: middle
}

h2~span {
    font-weight: bold;
}

